<section class="main__panel bg-light dark:bg-dark">
    <div class="w-screen ml-0 md:w-handle-nm md:ml-handle container">
        <div class="flex flex-col land:flex-col md:flex-row land:ml-20 md:ml-0">
            <div class="w-full text-3xl font-black land:w-full md:w-1/4 text-dark dark:text-yellow">
                {{ clients_title }}
            </div>
            <div class="w-full land:w-full md:w-3/4">
                <div class="flex flex-wrap -mx-8 md:mx-0">
                    <!-- Global -->
                    {{ client_list:clients }}
                        <div class="flex items-center w-1/3 px-8 my-8 md:w-1/4">
                            <img src="{{ client_logo }}" alt="{{ client_name }}" loading=lazy>
                        </div>
                    {{ /client_list:clients }}
                </div>
            </div>
        </div>
    </div>
</section>