
<!-- Loads the Hero  -->
<!-- classes is a variable called in the partial -->
<!-- display is a variable called in the partial that makes the hero text displayed -->
<!-- show_playreel is a variable called in the partial that shows the a button that is clickable -->
{{ partial:partials/hero classes="bg-yellow text-dark dark:bg-header-dark dark:text-yellow " bubbles="1" display="{{hero_text}}" show_playreel="1" }}

<div class="main__panel bg-light dark:bg-dark dark:text-light" data-scroll-section>
    <div class="container">
        <h2 class="accent">{{ why_title ?? "Why Think?" }}</h2>
        <h1 class="mt-4 text-2xl font-black leading-tight md:text-5xl fancy" data-scroll data-scroll-call="fancy">{{ why_us_headline }}</h1>
        <div class="items-stretch block mt-10 -mx-3 md:flex">

            {{ why_us_content }}
            
                {{## <div class='w-{{ why_us_content|count == 1 ? "full" : "--" . why_us_content|count }} px-2'> ##}}
                <div class="w-full px-3 mb-12 md:mb-0 md:w-1/3">
                    <div class="flex flex-col h-full">
                        <div class="overflow-hidden">
                            <div class="relative pb-full"  data-scroll data-scroll-call="wipe" data-scroll-delay="{{index}}">
                                <span class="initial-wipe bg-dark dark:bg-light "></span>
                                {{ glide:image width="600" fit="crop_focal"}}
                                    <img src="{{ url }}" alt="{{ alt }}" class="absolute object-cover w-full h-full" loading=lazy>
                                {{ /glide:image }}
                            </div>
                        </div>
                        <p class="mt-8 font-bold text-dark dark:text-light">{{heading}}</p>
                        <p class="mt-8 text-lg">{{ excerpt }}</p>
                        <div class="mt-auto text-lg half-height-colour md:mt-auto">
                            <a class="block underline-element yellow-underline text-mid-grey dark:text-light" href="{{ link_url ?? '/' }}">{{ link_text ?? 'generic link text' }}</a>
                        </div>
                    </div>
                </div>
            {{ /why_us_content }}
        </div>
    </div>
</div>

<div class="h-screen main__panel_small bg-dark dark:bg-header-dark" data-scroll-section>
    
    <div class="container flex flex-col justify-between h-full">
        <div class="">
            <h2 class="accent__yellow">The Think! way of doing things</h2>
        </div>
        <div class="text-5xl font-black md:text-display-hero">
            <div class="leading-tight text-white fancy" data-scroll data-scroll-call="fancy">Stand out ideas get</div>
            <div class="leading-tight text-yellow fancy" data-scroll data-scroll-call="fancy">outstanding results</div>
        </div>
        <div class="">
            {{ partial:partials/link_arrow textColor="text-yellow" text="See how" }}
        </div>
    </div>

</div>

{{ taxonomy:core as="data" }}
    {{  partial:partials/content_list header="{ layered_title }" text="{ layered_content }" :data="data" }}
{{ /taxonomy:core }}

<!-- Yellow Banner -->

{{ partial:partials/banner 
    heading="{{ banner_heading }}" 
    text="{{ banner_text }}"
    email="{{ banner_email }}"
    bg="bg-yellow"
    bubbles="true"
    classes="text-dark "
}}

<!-- Information from Clients in the Globals -->
{{ partial:partials/client_list }}

<!-- Information from Awards in the Globals -->
{{ partial:partials/awards_list }}