<nav class="transition-transform duration-700 delay-5 ease-in-out h-screen  fixed -ml-screen bg-dark z-40 w-screen md:w-handle-nm overflow-hidden" id="navigation-panel">
    <div class="pointer-events-none">
        {{ svg src="assets/svgs/bubbles" class="bubbles-svg-nav absolute text-yellow top-0 -mb-48 fill-current right-0 hidden z-0 md:block" }}
    </div>
    <div class="container h-full leading-tight ml-0 pl-12 land:-mt-8 land:leading-10 md:pl-24 pt-48 pb-24 md:py-24 flex flex-col justify-between font-black text-4xl land:text-3xl md:text-6xl lg:text-7xl">
        <ul class="main-nav text-yellow ">
            {{ nav:main_navigation }}
                
                <li  class="py-2 {{ if is_current }} current {{ /if }}">
                    <a href="{{ url }}" class=" transition duration-500 ease-in-out " data-trigger="main-nav">
                        {{ title }}
                    </a>
                </li>

            {{ /nav:main_navigation }}
        </ul>

        <ul class="text-white mt-auto mb-auto relative z-10 md:mb-0">
            {{ nav:extra_navigation  }}
                {{ if title ==  special_nav:item_to_show }}
                    <li class="py-2 md:py-0 half-height-colour {{ if is_current }} current {{ /if }}">
                        <a class="underline-element yellow-underline" href="{{ url }}">{{ title }}</a>
                    </li>
                {{ /if }}
            {{ /nav:extra_navigation}}
        </ul>
    </div>
</nav>
