<div id="startProject" class="main__panel bg-light dark:bg-dark">

    <div  class="container">
        <div  class="block pb-12 border-b md:flex border-light-grey">
            <div class="w-full md:w-3/12">
                <h2 class="text-4xl font-black leading-tight text-dark dark:text-light">{{ data | count }} {{ header }}</h2>
            </div>
            <div class="w-full ml-auto text-xl md:w-8/12">
                {{ text }}
            </div>
        </div>
        <div class="flex flex-col items-end ">
            {{ data }}
                <div class="w-full pt-16 md:w-2/3" data-scroll data-scroll-call="campaign-section" >

                    {{ if you_us == 'step' }}
                        <h3 class="text-xl title text-mid-grey" >{{ title }}</h3>
                        <div class="mt-6 text-5xl font-black leading-tight">
                            {{ noun }}
                        </div>
                        <p>{{ text }}</p>
                    {{ /if }}
                    
                    {{ if you_us == 'us' }}
                        <h3 class="text-xl title text-mid-grey" >{{ title }}</h3>
                        <div class="mt-6 text-5xl font-black leading-tight tagline">
                            {{ tag_line_us }}
                        </div>
                    {{ /if }}

                    {{ if you_us == 'you' }}
                        <h3 class="text-lg title text-grey" >{{ strapline }}</h3>
                        <div class="my-3 text-5xl font-black leading-tight tagline">
                            {{ tag_line_you }}
                        </div>
                        
                        <a href="/services{{ url }}">
                            {{ partial:partials/link_arrow textSize="text-lg" textColor="text-yellow" text="View all {title} services" }}
                        </a>
                    {{ /if }}
                    
                    <div class="w-full my-16 h-1px bg-light-grey bottom-line"  ></div>

                </div>
                
            {{ /data }}

            {{ if you_us == 'you'}}
                <div class="w-full py-16 md:w-2/3 help-section" data-scroll data-scroll-call="help-section">
                    <h3 class="flex items-center text-lg text-grey">
                        <span class="inline-block help">Help!</span> 
                        <span class="overflow-hidden ">
                            <span class="inline-block ml-2 after-help">I already know what I need</span>
                        </span>
                    </h3>
                    <div class="mt-6 text-5xl font-black">
                        <p class="tagline">That’s cool. Check out all our services below...</p>
                    </div>
                </div>
            {{ /if }}
            
        </div>

        {{ if you_us == 'us' }}
            <div class="flex flex-col items-end">
                <div class="w-full py-16 md:w-2/3">
                    <a href="/services">
                        {{ partial:partials/link_arrow textColor="text-dark dark:text-yellow" text="View all services" }}
                    </a>
                </div>
            </div>
        {{ /if }}

    </div>

</div>