<footer class="footer bg-transparent w-screen ml-0 md:w-handle-nm  md:ml-handle md:bg-gradient-yellow-to-dark">
    <div class="w-screen md:container">
        <div class="flex flex-col md:flex-row">
            <!-- 7/12 -->
            <div class="w-screen md:w-2/3 bg-yellow text-dark footer__panel px-0 md:pr-16 md:pl-0">
                <div class="container h-full">
                    <div class="block justify-between h-full w-full flex-col w-11/12 ml-0 md:ml-auto md:flex">
                        <div class="w-full md:ml-auto text-dark font-black text-3xl">
                            Let's stay in touch
                        </div>
                        <div class="">
                            
                            <form action="" class="flex flex-col md:flex-row">
                                <input type="text" class="w-100 appearance-none outline-none bg-transparent border-b border-dark placeholder-dark pb-4 flex-1" placeholder="Sign up for our newsletter... ">
                                <button type="submit" class="w-100 rounded-full text-yellow bg-dark px-12 py-4 mt-8 md:mt-0 ">Sign up</button>
                            </form>
                        </div>

                        <div class="mt-12 flex flex-col md:flex-row justify-between">
                            <div class="w-full md:w-1/2">
                                <h5 class="font-bold">Want to work with us?</h5>
                                <p>Email <a href="mailto:paul@thinkcreative.uk.com?subject='I want to work with you'">Paul</a></p>
                                <p>Or call <a href="tel:{{ contact_information:tel }}">{{ contact_information:tel }}</a></p>
                            </div>
                            <div class="w-full mt-8 md:mt-0 md:w-1/2">
                                <h5 class="font-bold">Need directions?</h5>
                                {{ contact_information:company_address}}
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
            <!-- 5/12 -->
            <div class="w-screen md:w-1/3 bg-dark text-white footer__panel px-0 md:pl-16 md:pr-0">
                <div class="container h-full text-lg">
                    <ul>
                        {{ nav:main_navigation }}
                        <li>
                            <a href="{{ url }}">{{ title }}</a>
                        </li>
                        {{ /nav:main_navigation}}
                    </ul>

                    <ul class="mt-6">
                        {{ nav:extra_navigation }}
                        <li>
                            <a href="{{ url }}">{{ title }}</a>
                        </li>
                        {{ /nav:extra_navigation}}
                    </ul>

                    {{ svg src="assets/svgs/logo" class="text-yellow fill-current mt-12" }}
                </div>
            </div>
    
        </div>
    </div>

    <!-- <div class="absolute w-screen top-0 h-full ">
        <div class="flex flex-row h-full ">
    
            <div class="w-2/3 bg-yellow h-full"></div>
            <div class="w-1/3 bg-dark "></div>
    
        </div>
    </div> -->
    
</footer>