<!-- This is used by the Services collection on the Services Page -->
<div class="main__panel bg-light-grey dark:bg-dark">
    <div class="container">
        <h3 class="text-3xl font-black">{{ title }}</h3>
        <div class="flex flex-wrap -mx-4">
                
            {{ collection from="{what}" }}
                {{ if no_results }}
                    <p>Dang, rest asured; We're working on it.</p>
                {{ else }}
                    <div class="w-1/2 px-4 mt-12 md:w-1/3">
                        <a href="{{ url }}">
                            <div class="relative pb-2/3">
                                {{ if thumbnail }}
                                    {{ thumbnail }}
                                        <img src="{{ thumbnail:url }}" alt="{{ alt }}" class="absolute object-cover w-full h-full" loading=lazy>
                                    {{ /thumbnail }}
                                {{ /if }}
                            </div>
                            <div class="mt-2 text-lg font-bold">
                                {{ title }}        
                            </div>
                        </a>
                    </div>
                {{ /if }}
            {{ /collection }}
        </div>
        
        
    </div>
</div>