<div class="main__panel bg-light-grey dark:bg-dark">
    <div class="container">
        <h3 class="font-black text-3xl">{{ title }}</h3>
        <div class="grid grid-cols-1 mt-12 -mx-4 md:grid-cols-2">
        
            {{ collection from="{what}" taxonomy:core-services="{filter}" }}
            
                {{ if no_results }}
                    <p>Dang, rest asured; We're working on it.</p>
                {{ else }}
                    <div class=" px-4 mt-12">
                        <a href="{{ url }}">
                            <div class="pb-2/3 relative">
                                {{ if thumbnail }}
                                    {{ thumbnail }}
                                        <div class="hover-button image">
                                            <span>
                                                <img src="{{ url }}" alt="{{ alt }}" class="h-full w-full absolute object-cover" loading=lazy>
                                            </span>
                                        </div> 
                                    {{ /thumbnail }}
                                {{ /if }}

                                {{ if secondary_image}}
                                    {{ secondary_image }}
                                        <div class="hover-button image">
                                            <span>
                                                <img src="{{ url }}" alt="{{ alt }}" class="h-full w-full absolute object-cover" loading=lazy>
                                            </span>
                                        </div> 
                                    {{ /secondary_image }}
                                {{ /if }}
                                
                            </div>
                            <div class="mt-2 font-bold text-lg">
                                {{ title }}        
                            </div>
                        </a>
                    </div>
                {{ /if }}
            {{ /collection }}
        </div>
        
        
    </div>
</div>