<div class="main__panel_x-small bg-light-grey dark:text-dark">
    <div class="container-none px-8 flex items-center md:px-0 md:container">
        <div class="w-3/12">
            <div class="pb-full relative">
                <img src="/assets/bruce.png" alt="Bruce the Moose. Think Creative Yellow coloured Moose head mascot" class="absolute w-full h-full object-contain" loading=lazy>
            </div>
        </div>
        <div class="w-8/12 mr-auto px-4">
            <h4 class="text-lg md:text-xl font-bold w-full md:w-7/12">Thanks for reading. Want more intel? Get Bruce the Moose in your inbox.</h4>
            <div class="mt-6">
                <form action="" class="flex flex-col md:flex-row ">
                    <input type="text" class="appearance-none outline-none bg-transparent border-b border-dark placeholder-dark pb-4 flex-1" placeholder="Sign up for our newsletter... ">
                    <button type="submit" class="w-100 hover-button mt-8 md:mt-0 ">
                            {{ partial:partials.hover_button text="Sign up" class="text-dark bg-yellow" }}
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>