{{ if images | count > 0}}
    <!-- put a slider here. -->
    <div class="container mt-8 blog__post">
        <div class="hidden w-full md:block md:w-2/12"></div>

        <div class="w-full h-full swiper-container my-7 md:w-8/12">
            <div class="swiper-wrapper">
                {{ images }}

                    <div class="bg-center bg-cover swiper-slide " style="{{ if custom-width }}width: {custom-width}px!important;{{/if}} height: {{ custom-height > 1 ? {custom-height} : {height} }}px; background-image:url('{{ url }}')"></div>
                {{ /images }}
            </div>
            <div class="relative bottom-0 flex items-center justify-between mt-1">
                {{ partial:partials/link_arrow textColor="text-yellow" classes="custom-button-prev  left z-1 ml-4  transform rotate-180 dark:" }}
                <!-- Add Pagination -->
                <div class="left-0 right-0 px-2 pointer-events-none swiper-pagination bottom-50"></div>
                <!-- Add Arrows -->
                {{ partial:partials/link_arrow textColor="text-yellow" classes="custom-button-next  right-0 mr-4 z-1 " }}
                
            </div>

        </div>
    </div>
{{ /if }}