<div class="bg-yellow md:bg-gradient-transparent-to-yellow relative overflow-hidden">
        <div class="">
            {{ svg src="assets/svgs/bubbles" class="absolute text-dark fill-current  h-full  -mr-24 right-0 hidden md:block" }}
        </div>
    <div class="container flex">
        <div class="w-full hidden md:block md:w-1/12"></div>
        <div class="w-full md:w-10/12 flex flex-col bg-yellow p-16">
            <p class="w-full md:w-10/12">{{ banner_text }}</p>
            <i class="block mt-4"> - {{ who_said_it }}</i>
        </div>
    </div>
</div>