<div id="startProject" class="main__panel bg-light dark:bg-dark !pt-16">

    <div class="w-11/12 md:w-10/12  mx-auto">
        {{ data }}
        
        
        <div  class=" pt-12 pb-16 mx-12 h-auto flex text-dark {{ if !last }}border-b{{ /if }} relative">
            <div id="{{ slug }}" class="absolute -top-52 md:-top-20 xl:-top-10"></div>

            <div class="flex flex-col {{ if count | mod:2 }} xl:flex-row {{ else }} xl:flex-row-reverse {{ /if }} w-full justify-between">
                <div class="xl:w-7/12 flex  flex-col {{ if count | mod:2 }} xl:pr-20 {{ else }} xl:pl-20 {{ /if }}">
                    <div  class="text-4xl font-black leading-tight text-dark dark:text-light pb-6">{{ v2_service_title }}</div>
                    <div class="text-xl pb-12">{{ v2_service_content }}</div>
                    <div class="grid grid-cols-1 md:grid-cols-2 text-xl pl-4 xl:pl-0">
                        <ul class="pl-3">{{ v2_left_list }}
                            <li class="list-disc font-bold"><strong>{{value}}</strong></li>
                            {{ /v2_left_list }}
                        </ul>
                        <ul class="pl-3">{{ v2_right_list }}
                            <li class="list-disc font-bold -pl-2"><strong>{{value}}</strong></li>
                            {{ /v2_right_list }}
                        </ul>
                    </div>
                </div>
                <div class="xl:w-5/12 flex flex-col h-1/2 mt-12 xl:mt-0">
                    {{v2_service_image}}
                    <img src="{{ url }}" class="aspect-w-3 aspect-h-2 !pb-12">
                    {{/v2_service_image}}

                    <a href="{{ if v2_service_button_link }}{{ v2_service_button_link }} {{ else }} /services/core/{{slug}}{{ /if}}" class="cursor-pointer w-full flex justify-center items-center h-1/2">
                        {{ partial:partials.hover_button text="{{ v2_service_button_label }}" class="text-dark bg-yellow text-lg" }}
                        </a>
                </div>
            </div>
        </div>

        {{ /data }}

    </div>

</div>

