<div class="main__panel_x-small {{ bg }} dark:text-dark">
        <div class="container">
            <div class="flex">
                <div class="w-2/12 font-black text-white relative dark:text-dark">
                    <div class="absolute flex">
                        <span class="quote quote-left leading-none top-0 ">'</span>
                        <span class="quote quote-right leading-none top-0 ">'</span> 
                    </div>
                </div>
                <div class="w-9/12">
                    <p class="text-lg">{{ quote }}</p>
                    <i class="block mt-2"> - {{ cite }}</i>
                </div>
                
            </div>
        </div>
    </div>
    