{{ if hero_image}}
    {{ partial:partials/hero image_classes="object-left-top" display="{{hero_image}}" show_playreel="0" }}
{{ /if }}

<section class="main__panel_small bg-light">
    <div class="container flex">
        <div class="hidden w-full md:w-2/12 md:block"></div>

        <div class="w-full mx-auto md:w-1/2  ">
            <h1 class="text-5xl font-black">{{ title }}</h1>
            <p class="mt-4 text-lg">{{ introduction }}</p>
        </div>

        <div class="hidden w-full md:w-4/12 md:block"></div>
    </div>

    <div class="container flex mt-12">
        <div class="hidden w-full md:w-1/12 md:block"></div>

        <div class="w-full md:w-10/12 mx-auto flex -mx-4">
            
            {{ stepper }}
                <div class=" w-1/2 px-4 text-center md:w-1/4">
                    {{ if image }}
                        <div class="pb-full rounded-full bg-dark">
                            <!-- this might be an svg -->
                            {{# {{ image }}
                                <img src="{{ url }}" alt="{{ alt }}" class="h-full w-full object-cover">
                            {{ /image }} #}}
                        </div>
                    {{ else }}
                        <div class="pb-full rounded-full bg-dark"></div>
                    {{ /if }}

                    <p class="mt-8 font-bold text-lg">{{ label }}</p>
                </div>
            {{ /stepper }}
            
        </div>

        <!-- <div class="w-full md:w-2/12"></div> -->
    </div>

    <div class="container flex mt-12">
            <div class="hidden w-full md:w-2/12 md:block"></div>
            <div class="w-full md:w-1/2 mx-auto">
                <p class="mt-4">{{ content  }}</p>
            </div>
            <div class="hidden w-full md:w-4/12 md:block"></div>
        </div>

    </section>

{{ partial:partials/cta custom_cta="Need an idea? Get in touch for a chat..." }}

<section class="main__panel bg-light-grey">
    <div class="container">
        <h3 class="font-black text-3xl">Featured {{ title }} Projects</h3>

        <div class="flex flex-wrap mt-12 -mx-4">
        
            {{ collection from="case_studies" taxonomy:services_filter="{slug}" }}
                {{ if no_results }}
                    <p>Dang, rest asured; We're working on it.</p>
                {{ else }}
                    <div class="w-full px-4 mt-12 md:w-1/2">
                        <a href="{{ url }}">
                            <div class="pb-2/3 relative">
                                {{ if hero_image }}
                                    <img src="{{ hero_image:url }}" alt="{{ hero_image:alt }}" class="h-full w-full absolute object-cover" loading="lazy">
                                {{ /if }}
                            </div>
                            <div class="mt-2 font-bold text-lg">
                                {{ title }}        
                            </div>
                        </a>
                    </div>
                {{ /if }}
            {{ /collection }}

        </div>
    </div>
</section>