<div class="hero h-vertical-handle-nm  flex items-center w-100 py-24 relative overflow-hidden {{ text_small ? 'text-5xl md:text-7xl' : 'text-5xl md:text-18xl' }} {{classes}} md:h-screen" data-scroll-section>

    {{ if slug=="home"}}
    <div class="show-reel">
        <div class="play-modal bg-gray-800 opacity-50 absolute w-full h-full top-0 left-0 hidden justify-center items-center z-[1000] pointer-events-none">
            <div id="hideModal" class="play-button p-4 w-96 h-96 md:w-56 md:h-56 border-white  border-4 rounded-full text-2xl text-white flex justify-center items-center cursor-pointer z-[1001]" >
                <svg xmlns="http://www.w3.org/2000/svg" class="w-96 h-96 md:w-56 md:h-56" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
                  </svg>
            </div>
        </div>
        <video  class="h-screen w-screen object-contain z-[900]" src="{{ show_reel:video }}"></video>
    </div>
    {{ /if}}

    <!-- Puts the bubbles in the top right hand corner of the page -->
    {{ if bubbles }}
        <div class="absolute top-0 right-0 bubbles-svg">
            {{ svg src="assets/svgs/bubbles" class="mt-12 fill-current text-dark dark:text-yellow" }}
        </div>
    {{ /if }}

    {{ if hero_image }}

        {{ if video_choice == "Video" }}
        
        <video autoplay muted class="h-screen w-screen object-cover" src="{{ video }}"></video>

        {{ else }}
            {{ hero_image }}
                <img src="{{ url }}" alt="{{ alt }}" class="h-screen w-screen object-cover {{ image_classes }}" loading=eager>
            {{ /hero_image }}
        {{ /if }}

        {{ if service_tag }}
            <div class="w-full absolute md:px-56 font-black leading-none fancy text-center" data-scroll data-scroll-call="fancy" >
                {{ service_tag }}
            </div>
        {{ /if }}
        
    {{ else }}
    
        <div class="container flex flex-col md:flex-row h-50 md:h-full">
            <div class="h-1/2 {{ show_playreel ?? 'w-2/3' ?? 'w-1/3' }} flex flex-col items-center justify-center md:h-full">

                <!-- Displays the Hero Text in the middle of the screen -->
                {{ if display }}
                    <div class="w-full font-black leading-none hero-main-text fancy" data-scroll data-scroll-call="fancy" >
                        {{ display }}
                    </div>
                {{ /if }}
                    
                {{ if jobrole }}
                    <div class="w-full font-black leading-none fancy" data-scroll data-scroll-call="fancy">
                        <span class="text-white">Applying for: </span>
                        {{ jobrole | deslugify | title }}
                    </div>
                {{ /if }}

                {{ if hero_intro }}
                    <div class="self-start w-full mt-12 text-lg text-white hero-intro md:w-1/2">
                        {{ hero_intro }}
                    </div>
                {{ /if }}
            </div>

            <!-- Displays a button that is clickable -->
            {{ if show_playreel }}
                <div class="flex items-start justify-start w-full h-1/2 md:w-1/3 md:items-end md:justify-end md:h-full show-playreel">
                    <div id="showReel">
                    {{ partial:partials/global/link_arrow text="Play Showreel" textColor="text-dark" }}
                    </div>
                </div>
            {{ /if }}

        </div>
    {{ /if }}

    
</div>

