{{# Mobile View #}}
<div class="md:hidden w-full mt-8">
    {{ entries sort="date:asc" as="results" }}
    
        {{ if entries_count >= customising:case_studies_limit }}
        <div class="flex items-end justify-between">
            <h2 class="text-2xl font-black font-base">{{ header }}  {{ if customising:show_case_studies_count }}<sup class="superscript">{{entries_count}}</sup>{{ /if }}</h2>
            {{ if ! no_results }}
                <p>
                    <a href="/work/{{ slug | lower }}/all" class="half-height-colour">
                        <span class="underline-element yellow-underline">show more</span>
                    </a>
                </p>
            {{ /if }}
        </div>
        <div class="SWrapper">
        <div class="swiper mySwiper">

        <div class="swiper-wrapper relative">
            {{ if no_results }}
                {{# <div class="w-full px-4">
                    <p class="">We've nothing yet to show how great we are yet, but rest assured we're masters of <span class="font-bold">{{ header }}</span>, {{ random_sports }}.</p>
                </div> #}}
            {{ else }}
                {{ results }}
                    <div class="swiper-slide">
                        <a href="{{ url }}" class="">
                            <div class="">
                                {{ if thumbnail }}
                                        <span class="hover-button image">
                                            <span>
                                                <img src="{{ thumbnail}}" alt="{{ alt }}" class="object-cover w-full h-full swiper-lazy" loading=lazy>

                                            </span>
                                        </span>
                                {{ else }}
                                    {{ hero_image }}
                                        <span class="hover-button image">
                                            <span>
                                                <img src="{{ url }}" alt="{{ alt }}" class="object-cover w-full h-full swiper-lazy" loading=lazy>

                                            </span>
                                        </span>
                                    {{ /hero_image }}
                                {{ /if}}
                            </div>    
                            <p class="">{{ title }}</p>
                        </a>
                    </div>
                {{ /results }}
            {{ /if }}
        </div>
        <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
</div>
        {{ /if }}
    {{ /entries }}
</div>


{{# Desktop View #}}
{{# <div class="hidden land:block md:block w-full mt-8">
    {{ entries  limit="3" sort="date:asc" as="results" }}
    
        {{ if entries_count >= customising:case_studies_limit }}
        <div class="flex items-end justify-between">
            <h2 class="text-2xl font-black font-base">{{ header }}  {{ if customising:show_case_studies_count }}<sup class="superscript">{{entries_count}}</sup>{{ /if }}</h2>
            {{ if ! no_results }}
                <p>
                    <a href="/work/{{ slug | lower }}/all" class="half-height-colour">
                        <span class="underline-element yellow-underline">show more</span>
                    </a>
                </p>
            {{ /if }}
        </div>
        <div class="flex mt-2 -mx-4">
            {{ if no_results }}
                <div class="w-full px-4">
                    <p class="">We've nothing yet to show how great we are yet, but rest assured we're masters of <span class="font-bold">{{ header }}</span>, {{ random_sports }}.</p>
                </div>
            {{ else }}
                {{ results }}
                    <div class="w-1/3 px-4">
                        <a href="{{ url }}" class="">
                            <div class="relative overflow-hidden pb-2/3">
                                {{ if thumbnail }}
                                        <span class="hover-button image">
                                            <span>
                                                <img src="{{ thumbnail}}" alt="{{ alt }}" class="absolute object-cover w-full h-full swiper-lazy " loading=lazy>
                                                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                                            </span>
                                        </span>
                                {{ else }}
                                    {{ hero_image }}
                                        <span class="hover-button image">
                                            <span>
                                                <img src="{{ url }}" alt="{{ alt }}" class="absolute object-cover w-full h-full " loading=lazy>
                                            </span>
                                        </span>
                                    {{ /hero_image }}
                                {{ /if}}
                            </div>    
                            <p class="">{{ title }}</p>
                        </a>
                    </div>
                {{ /results }}
            {{ /if }}
        </div>
        {{ /if }}
    {{ /entries }}
</div> #}}
