<a href="{{ link to='/work/{slug}' }}" class="hover-button image">
                
    <div class="relative h-screen overflow-hidden" >
               
        <!-- Desktop View -->
        <div class="" data-scroll data-scroll-call="nextJob">
                <div class="absolute top-0 w-full transform -translate-y-56 bg-black opacity-0 p-8 backdrop text-white font-black text-5xl">
                    <p class="">Next project:</p>
                    <p class="mt-4 ">{{ title }}</p>
            {{#<div class="container absolute top-0 z-10 p-8 mt-1 text-5xl font-black text-white transform -translate-y-56 md:mt-4 nextTitle">
                    <p class="">Next project:</p>
                    <p class="mt-4 ">{{ title }}</p>
            </div>#}}
                </div>
                <img src="{{ next_image ? next_image : hero_image }}" alt="" class="absolute object-cover w-full h-full" loading=lazy>
                
            </div>
    </div>
    
</a>