<!-- This is where we show a core service page - brand;communication;... -->

{{ if hero_image }}
    {{ partial:partials/hero classes="" show_playreel="0"  }}
{{ /if }}


<div class="main__panel bg-light dark:bg-dark">

    <div class="container">

        <div class="flex flex-col items-end ">
            {{ grid }}
                <div class="block {{ !last ?= 'pb-12' }} md:flex ">
                    <div class="w-full mbb-4 md:mb-0 md:w-3/12">
                        <h2 class="text-dark font-black leading-tight text-4xl dark:text-light">{{ title }}</h2>
                    </div>

                    <div class="w-full md:w-1/12"></div>

                    <div class="w-full pb-12 ml-0 {{ !last ?= 'border-b border-light-grey' }} md:w-6/12">
                        <div class="text-xl pb-8">
                            {{ text }}
                        </div>
                        {{ if bold_text }}
                            <div class="pb-8 font-bold text-xl">
                                <strong>{{ bold_text }}</strong>
                            </div>
                        {{ /if }}
                        <div class="content blog__post">
                            {{ bottom_text}}
                        </div>
                    </div>
                </div>
            {{ /grid}}
        </div>

    </div>

</div>


{{ partial:partials/cta custom_cta="Need an idea? Get in touch for a chat..." }}

<!-- Featured strategy projects here --- Need to tag a case study to a service -->
{{ partial:partials/grid_filter title="Featured {{title}} Projects" what="case_studies" filter="{slug}" limit="4" random="true"}}
