@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: "geo-black";
    src: url('/fonts/geograph-web-black.eot') format("eot");
    src: url('/fonts/geograph-web-black.woff') format("woff");
    src: url('/fonts/geograph-web-black.woff2') format("woff2");
}

@font-face {
    font-family: "geo-regular";
    src: url('/fonts/geograph-web-regular.eot') format("eot");
    src: url('/fonts/geograph-web-regular.woff') format("woff");
    src: url('/fonts/geograph-web-regular.woff2') format("woff2");
}

@font-face {
    font-family: "geo-bold";
    src: url('/fonts/geograph-web-bold.eot') format("eot");
    src: url('/fonts/geograph-web-bold.woff') format("woff");
    src: url('/fonts/geograph-web-bold.woff2') format("woff2");
}

@font-face {
    font-family: "geo-regular-italic";
    src: url('/fonts/geograph-web-regular-italic.eot') format("eot");
    src: url('/fonts/geograph-web-regular-italic.woff') format("woff");
    src: url('/fonts/geograph-web-regular-italic.woff2') format("woff2");
}

@font-face {
    font-family: "geo-medium";
    src: url('/fonts/geograph-web-medium.eot') format("eot");
    src: url('/fonts/geograph-web-medium.woff') format("woff");
    src: url('/fonts/geograph-web-medium.woff2') format("woff2");
}

@font-face {
    font-family: "geo-light";
    src: url('/fonts/geograph-web-light.eot') format("eot");
    src: url('/fonts/geograph-web-light.woff') format("woff");
    src: url('/fonts/geograph-web-light.woff2') format("woff2");
}

.body-content {
    max-height: 300px !important;
    overflow-y: scroll;
}

.trix-button-group--history-tools {
    display: none !important;
}

.error {
    color: red;
}


.nav-dropdown {
    @apply inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-transparent hover:bg-header-dark hover:text-yellow focus:outline-none focus:bg-header-dark  transition;
}

.dropdown-link {
@apply block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition;
}


.nav-headers {
    @apply block px-4 py-1 text-base text-header-dark underline;
}
