/* This is all you. */

/* $handleWidth: 5rem; */
:root {
    --handleWidth: 5rem;
}

@font-face {
    font-family: "geo-black";
    src: url('/fonts/geograph-web-black.eot') format("eot");
    src: url('/fonts/geograph-web-black.woff') format("woff");
    src: url('/fonts/geograph-web-black.woff2') format("woff2");
}

@font-face {
    font-family: "geo-regular";
    src: url('/fonts/geograph-web-regular.eot') format("eot");
    src: url('/fonts/geograph-web-regular.woff') format("woff");
    src: url('/fonts/geograph-web-regular.woff2') format("woff2");
}

@font-face {
    font-family: "geo-bold";
    src: url('/fonts/geograph-web-bold.eot') format("eot");
    src: url('/fonts/geograph-web-bold.woff') format("woff");
    src: url('/fonts/geograph-web-bold.woff2') format("woff2");
}

@font-face {
    font-family: "geo-regular-italic";
    src: url('/fonts/geograph-web-regular-italic.eot') format("eot");
    src: url('/fonts/geograph-web-regular-italic.woff') format("woff");
    src: url('/fonts/geograph-web-regular-italic.woff2') format("woff2");
}

@font-face {
    font-family: "geo-medium";
    src: url('/fonts/geograph-web-medium.eot') format("eot");
    src: url('/fonts/geograph-web-medium.woff') format("woff");
    src: url('/fonts/geograph-web-medium.woff2') format("woff2");
}

@font-face {
    font-family: "geo-light";
    src: url('/fonts/geograph-web-light.eot') format("eot");
    src: url('/fonts/geograph-web-light.woff') format("woff");
    src: url('/fonts/geograph-web-light.woff2') format("woff2");
}

/* .font-black { font-family: geo-black; }
.font-regular { font-family: "geo-regular"; }
.font-bold { font-family: geo-bold; }
.font-regular-italic { font-family: geo-regular-italic; }
.font-medium { font-family: geo-medium ; } */


/*  Splitting CSS */

.word {
    display: inline-block;
}

@responsive {
    .bg-gradient-yellow-to-dark {
        background: rgb(255,199,52);
        background: linear-gradient(90deg, theme('colors.yellow') 65%, theme('colors.dark') 65%);
    }
    .bg-gradient-blue-to-light {
        background: linear-gradient(0deg, theme('colors.light') 30%, rgba(255,199,52,1) 30%);
    }
    .bg-gradient-transparent-to-yellow {
        background: linear-gradient(90deg, rgba(247,247,247, 1) 50%, rgba(255,199,52,1) 50%);
    }


    .dark {
        .bg-gradient-blue-to-light {
            background: linear-gradient(0deg, theme('colors.dark') 30%, rgba(255,199,52,1) 30%);
        }
        /* very specific, sould have a better way */
        .md\:bg-gradient-transparent-to-yellow {
            background: linear-gradient(90deg, theme('colors.dark') 50%, theme('colors.yellow') 50%);
        }
        .md\:bg-gradient-yellow-to-dark:not(.not-affected-by-dark) {
            background: linear-gradient(90deg, theme('colors.yellow') 65%, rgba(221,221,221,1) 65%);
        }
        
    }
}

.dark {
    .accent{
        @apply text-light;
        &__dark {
            @apply inline-block pt-2 border-t text-light border-light;
        }
    }
}

.accent {
    @apply inline-block pt-2 border-t text-mid-grey border-mid-grey;
    &__dark {
        @apply inline-block pt-2 border-t text-dark border-dark;
    }
    &__yellow {
        @apply text-yellow border-t border-yellow inline-block pt-2
    }
}

.main {
    &__panel {
        @apply py-32
        
    }
    &__panel_small {
        @apply py-24
    }
    &__panel_x-small {
        @apply py-12
    }
}

.bubbles-svg {
    width: 250px;
    margin-top: -5.5rem;
    margin-right: -5.5rem;

    @screen md {
        width: 450px;
        margin-top: -9rem;
        margin-right: -9rem;
    }
}
.small_bubble_banner {
    height: 200%;
    top: -50%;
}

.handle {
    & .syp {
        width: max-content;
    }
    &.open {
        background-color: #FFC734;
        & .logo {
            color: #42454A;
            fill: currentColor;
        }
        .social-icon {
           &:hover, &:active {
               @apply text-dark !important
           }
        }
    }
}
/*  
*  Svg line animations 
*  And other things
*/
.blog-arrow{
    &-left {
        #Line_2 {
            /* stroke-dashoffset: -15px; */
            stroke-dasharray: 15;
            transition: stroke-dashoffset 2s ease-out;
        }
        &:hover, &:active {
            #Line_2 {
                stroke-dashoffset: -120px;
                transition: stroke-dashoffset 2s ease-out;
            }
        }
    }   
    &-right {
        #Line_2 {
            /* stroke-dashoffset: -15px; */
            stroke-dasharray: 15;
            transition: stroke-dashoffset 2s ease-out;
        }
        &:hover, &:active {
            #Line_2 {
                stroke-dashoffset: -120px;
                transition: stroke-dashoffset 2s ease-out;
            }
        }
    }
}

.circle-animation {
    cursor: pointer;
    & path {
        &:first-child {
            stroke-dasharray: 162;
            transition: stroke-dashoffset .5s ease-out;
        }
    }
    
    
    &:hover, &:active {
        & path {
            &:first-child {
                stroke-dashoffset: 162;
                transition: stroke-dashoffset .7s ease-out;
            }
        }
    }
}

.threed-animation { 
    perspective: 1500px;
    img, .threed-inner { 
        transform: rotateX(10deg) rotateY(-10deg) rotateZ(3deg);
        transition: transform .45s cubic-bezier(0.34, 1.56, 0.64, 1) .05s;
        border-radius: .25rem;
        box-shadow: 2px 5px 30px rgba(66, 69, 74, var(--text-opacity));
        &:hover, &:active {
            /* transform: rotateX(-4deg) rotateY(5deg) rotateZ(-3deg) !important; */
            transform: rotate(0deg);
        }
    }
}



.half-height-colour, .blog__post {
    
    & .underline-element {
        display: inline;
        background-image: linear-gradient(transparent 60%, theme('colors.dark') 60%, theme('colors.dark') 85%,transparent 85%,transparent 100%);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: .5s cubic-bezier(.645,.045,.355,1);
        &.yellow-underline {
            background-image: linear-gradient(transparent 60%, theme('colors.yellow') 60%, theme('colors.yellow') 85%,transparent 85%,transparent 100%);
        }
        &.light-underline {
            background-image: linear-gradient(transparent 60%, theme('colors.light') 60%, theme('colors.light') 85%,transparent 85%,transparent 100%);
        }
    }
    

    &:hover, &:active, &.current {
        .underline-element { 
            transition: .5s cubic-bezier(.645,.045,.355,1);
            background-size: 100% 100%;
        }
    }
}
/* 
* has to come after 
* Specifically for the case studies.
*/

.dark {
    .half-height-colour {
        &.active { 
            & .underline-element {
                &.dark\:light-underline {
                    background-image: linear-gradient(transparent 60%, theme('colors.light') 60%, theme('colors.light') 85%,transparent 85%,transparent 100%);
                }
            }
        }
    }
}

/*
*
*  Potential fix for hover on mobiles.
*  Need to confirm spec. 
*  See js file. Seems to work well. 
*/
@media(hover: hover) and (pointer: fine) {}


.handle {
    .buns {
        transition: all .8s;
        /* stroke-dashoffset: 42;
        stroke-dasharray: 71; */
        stroke-dashoffset: 0px;
        stroke-dasharray: 102.355px, 241.261px;
    }
    .patty {
        opacity: 1;
        transition: opacity .8s ease-out .5s;
    }
    &.open {
        .patty {
            opacity: 0;
            transition: opacity .3s ease-in;
        }
        .buns {
            transition: all 1.3s;
            /* stroke-dashoffset: -68; */
            stroke-dashoffset: -233.816px;
            stroke-dasharray: 95.992px, 242.624px;
        }
    }
}

#navigation-panel {
    &.open {
        transform: translate( calc( 100vw ) );
    }
    @screen md {
        &.open {
            transform: translate( calc( 100vw + 5rem ) );
        }
    }
    ul {
        &.main-nav {
            & li {
                & a {
                    /*  this is the dark */
                    -webkit-text-stroke-color: #FFC734;
                    -webkit-text-stroke-width: 1px;
                    transition: all .5s;
                }
            }
            
            &:hover, &:active {
                & li:hover {
                    a{
                        transition: all .5s;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #FFC734;
                    }
                }
                & li:not(:hover) {
                    & a {
                        /*  this is the yellow  */
                        -webkit-text-stroke-color: #FFC734;
                        color: transparent; 
                        color: rgba(255, 198, 0, .4);
                        transition: all .5s;
                    }
                }
            }
            
        }
    }
}

.content-slider {
    &.active {
        @apply text-dark dark:text-yellow;
    }
}

.burger {
    max-width: 30px;
    min-width: 30px;
    &__bun {
        margin: 0 auto;
        width: 22px;
    }
    &__slice {
        height: 3px;
        width: 100%;
        margin-bottom: 6px;
        background: white;
        transition: width .2s ease-in-out;
        &:last-child {
            width: 14px;
        }
    }
    &:hover, &:active {
        cursor: pointer;
        & .burger {
            &__slice {
                transition: width .2s ease-in-out;
                &:last-child {
                    
                    width: 22px;
                }
            }
        }
    }
}

.quote {    
    font-size: 8rem;
    height: 136px;
    transform-origin: top right;
    &-left,
    &-right {
        transform: rotate(200deg);
        transform-origin: center center;
    }
    @screen md {
        font-size: 10rem;
    }
    @screen lg {
        font-size: 12rem;
    }
    @screen xl {
        font-size: 16rem;
    }
    
    
}

.wrapper{

    & .input-data{
        height: 40px;
        width: 100%;
        position: relative;

        & input {
            
            height: 100%;
            width: 100%;
            border: none;
            font-size: 17px;
            border-bottom: 2px solid silver;
            &:focus ~ label,
            &:not(:placeholder-shown) ~ label
            /* &:valid ~ label */ {
                transform: translateY(-30px);               
            }
            &:focus ~ .underline:before {
                transform: scaleX(1);
            }
        }
        & label {
            position: absolute;
            bottom: 10px;
            left: 0;
            
            pointer-events: none;
            transition: all 0.3s ease;
        }
        & .underline {
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: 0;
            &:before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background: theme('colors.yellow');
                transform: scaleX(0);
                transform-origin: center;
                transition: transform 0.3s ease;
            }
        }
    }
}


input[type="file"] {
    display: none;
    &::-webkit-file-upload-button, 
    &::file-selector-button {
        visibility: hidden;
    }
    
} 

.file-custom {
    @apply px-4 py-2 cursor-pointer bg-light-grey text-dark;
    
    &:before {
        content: 'Choose file';
    }
}



.fancy {
    transform: translateY(50px);
    opacity: 0;
}

/*  any time we use markup as content  */
.content, .blog__post {  
    h2 {
        @apply font-bold text-lg my-8
    }
    p {
        @apply mt-4
    }
    a { 
        text-decoration: underline;
        display: inline;
        background-image: linear-gradient(transparent 60%, theme('colors.yellow') 60%, theme('colors.yellow') 85%,transparent 85%,transparent 100%);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: .5s cubic-bezier(.645,.045,.355,1);

        &:hover, &:active{
            text-decoration: none;
            transition: .5s cubic-bezier(.645,.045,.355,1);
            background-size: 100% 100%;
        }
    }
    strong {
        font-family: 'geo-bold';
    }
    ul{
        margin: 1rem 0;
        li {
            margin-left: 1rem;
            list-style-image: url(/assets/misc/list-item.png);
            list-style-position: inherit;
        }
    }
}

.swiper-button-disabled {
    color: #dddddd !important;
    cursor: not-allowed;
}
.swiper-pagination-bullet-active {
    --swiper-pagination-color: theme('colors.yellow') !important;
    --swiper-pagination-color: #FFC734 !important;
}

.think-toast {
    color: #FFC734 !important;
}
.think-loser-toast {
    &.on {
        padding: 0;
        color: #FFC734;
        transform: translateY(-50%) !important;
        min-width: 50%;
        min-height: 50%;
        text-align: center;
        display: flex;
    }
    &:after {
        content: '';
        background-color: #42454A;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 50px;
        /* z-index: 1; */
        transform: rotate(5deg);
    }
    .wrapper {
        position: relative;
        background-color: white;
        z-index: 20;
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }
}

/* Secret Santa  */

.secret-santa {

    &-box {
        perspective: 1000px;
        .item {
            backface-visibility: hidden;
            transform-style: preserve-3d;
            background: rgba(255,255,255, .95);
            @apply  w-full h-full transition duration-1000 ease-in-out rounded-lg;

            &.front {
                transform: rotateY(0deg);
            }
            &.back {
                transform: rotateY(-180deg);
            }
    
            .inner  {
                @apply p-5 flex flex-col justify-between h-full
            }

            .text {
                @apply text-black
            }
            @media(md){
                .inner {
                    @apply p-10
                }
            }
        }
        
    
        &.flipped {
            .item {
                &.front {
                    transform: rotateY(180deg);
                }
                &.back {
                    transform: rotateY(0deg);
                }
            }
        }
    }
    
    &-remove {
        @apply inline-block w-8 h-8 cursor-pointer;
        /* background-image: url('/assets/svgs/bin.svg');
        background-repeat: no-repeat; */

    }
    
    &-next {

    }

    &-form {
        input {
            @apply px-3 py-2 text-white rounded-sm bg-dark;
        }
        textarea {
            @apply px-3 py-2 text-white rounded-sm bg-dark;
        }

    }
}

.toggle-dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
    
}

input#store:checked ~ .toggle-dot {
    transform: translateX(100%);
    /* background-color: #48bb78; */
    @apply bg-yellow
}

.page-content {
    opacity: 1;
    transition: opacity 0.8s ease-out;
    /* display: block; */
    &.hide {
        transition: opacity 0.8s ease-out;
        opacity: 0;
        visibility: hidden;
        /* display: none;  */

    }
}

.footer {
    &__panel {
        @apply py-24 px-16
    }
}

/*  Some animation stuff  */

[data-scroll-call="fancy"] {
    transform: translateY(50px);
    opacity: 0;
}

[data-scroll-call="wipe"] {
    img {
        transform: translateX(-100%);
        width: 100%;
        opacity: 0;
    }
    .initial-wipe {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
    }
}



.switch {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    height: 100%;
    width: 100%;
    border-radius: 1px;
    background: -webkit-gradient(linear, top, bottom, from(rgb(235, 235, 235)), color-stop(#f7f7f7), color-stop(#f7f7f7), color-stop(rgb(222, 222, 222)), to(rgb(198, 198, 198)));
    background: linear-gradient(to bottom, rgb(235, 235, 235), #f7f7f7, #f7f7f7, rgb(222, 222, 222), rgb(198, 198, 198));
    box-shadow: inset 1px 0 0 white, inset 0 1px 0 rgba(255, 255, 255, .4), inset 0 -1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(255, 255, 255, .4), 1px 1px 4px rgba(0, 0, 0, .2), 0 0 0 1px rgb(198, 198, 198), 2px 1px 5px rgba(0, 0, 0, .2), 0 2px 0 white;
    border: 0 solid;
    border-color: rgb(203, 203, 203);
    border-top-width: 0.1em;
    border-bottom-width: 0;
    transition: all 100ms;
}
.switch.on {
    background: -webkit-gradient(linear, top, bottom, from(rgb(198, 198, 198)), color-stop(rgb(222, 222, 222)), color-stop(#f7f7f7), color-stop(#f7f7f7), to(rgb(235, 235, 235)));
    background: linear-gradient(to bottom, rgb(198, 198, 198), rgb(222, 222, 222), #f7f7f7, #f7f7f7, rgb(235, 235, 235));
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, .5), inset 0 1px 0 rgba(255, 255, 255, .4), inset 0 -1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(255, 255, 255, .4), -1px 1px 4px rgba(0, 0, 0, .1), 0 0 0 1px rgb(198, 198, 198), 2px 1px 5px rgba(0, 0, 0, .2), 0 2px 0 white;
    border-left-color: rgb(215, 215, 215);
    border-top-width: 0;
    border-bottom-width: 0.1em;
}

.hover-button {
    overflow: hidden;
    & span {
        z-index:1;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0.1;
            clip-path: circle(0 at left center);
            transition: 0.3s ease-out;
        }
        &:hover:before {
            clip-path: circle(150% at left center);
        }
    }
    &.dark {
        & span {
            &:before {
                background-color: theme('colors.dark')
            }
        }
    }
    &.image {
        .backdrop {
            transition: all .5s ease-in-out;
            z-index: 5;
            @apply -translate-y-56;
        }
        img {
            transition: transform .5s ease-in-out;
        }
        .container {
            transition: transform .9s ease-in-out 0s, opacity .5s ease-out 0s;
            transform: scale(0.9);
            opacity: 0;
        }
        &:hover {
            img {
                transition: transform .5s ease-in-out;
                transform: scale(1.05);
            }
            .backdrop {
                opacity: 0.75;
                transition: all .5s ease-in-out;
                @apply translate-y-0;
            }
            .container {
                transform: scale(1);
                opacity: 1;
                @apply transition duration-500 delay-500 translate-y-0;
            }
        }

        /* & span {
            z-index: 1;
            &:before {
                background-color: theme('colors.yellow');
                opacity: 0.2;

                
                z-index: 5;
            }
            &
            &:hover:before {
                transition: 0.7s ease-out;
                clip-path: circle(150% at left center);
            }
        } */
    }
}

/* Stephens CSS */
/* Careers Show */
.job__heading {
    h1 {
        @apply font-black text-4xl mb-4
    }
    h2 {
        @apply font-black text-3xl mb-4
    }
   
}

/* Seperating the Bullets in the Slider Pagination */
.swiper-pagination-bullet {
    width: 8px!important;
    height: 8px!important;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
    @apply mx-1;
  }