/* This is all you. */

/* $handleWidth: 5rem; */
:root {
    --handleWidth: 5rem;
}

@font-face {
    font-family: "geo-black";
    src: url('/fonts/geograph-web-black.eot') format("eot");
    src: url('/fonts/geograph-web-black.woff') format("woff");
    src: url('/fonts/geograph-web-black.woff2') format("woff2");
}

@font-face {
    font-family: "geo-regular";
    src: url('/fonts/geograph-web-regular.eot') format("eot");
    src: url('/fonts/geograph-web-regular.woff') format("woff");
    src: url('/fonts/geograph-web-regular.woff2') format("woff2");
}

@font-face {
    font-family: "geo-bold";
    src: url('/fonts/geograph-web-bold.eot') format("eot");
    src: url('/fonts/geograph-web-bold.woff') format("woff");
    src: url('/fonts/geograph-web-bold.woff2') format("woff2");
}

@font-face {
    font-family: "geo-regular-italic";
    src: url('/fonts/geograph-web-regular-italic.eot') format("eot");
    src: url('/fonts/geograph-web-regular-italic.woff') format("woff");
    src: url('/fonts/geograph-web-regular-italic.woff2') format("woff2");
}

@font-face {
    font-family: "geo-medium";
    src: url('/fonts/geograph-web-medium.eot') format("eot");
    src: url('/fonts/geograph-web-medium.woff') format("woff");
    src: url('/fonts/geograph-web-medium.woff2') format("woff2");
}

/* .font-black { font-family: geo-black; }
.font-regular { font-family: "geo-regular"; }
.font-bold { font-family: geo-bold; }
.font-regular-italic { font-family: geo-regular-italic; }
.font-medium { font-family: geo-medium ; } */


@responsive {
    .bg-gradient-yellow-to-dark {
        background: rgb(255,199,52);
        background: linear-gradient(90deg, rgba(255,199,52,1) 65%, rgba(66,69,74,1) 65%);
    }

    .bg-gradient-blue-to-light {
        background: linear-gradient(0deg, rgba(247,247,247, 1) 30%, rgba(10, 6, 77, 1) 30%);
    }

    .bg-gradient-transparent-to-yellow {
        background: linear-gradient(90deg, rgba(247,247,247, 1) 50%, rgba(255,199,52,1) 50%);
    }
}
.accent {
    @apply text-yellow border-t border-yellow inline-block pt-2
}

.main {
    &__panel {
        @apply py-32
        
    }
    &__panel_small {
        @apply py-24
    }
    &__panel_x-small {
        @apply py-12
    }
}

.bubbles-svg {
    width: 250px;
    margin-top: -5.5rem;
    margin-right: -5.5rem;

    @screen md {
        width: 450px;
        margin-top: -9rem;
        margin-right: -9rem;
    }
}
.small_bubble_banner {
    height: 200%;
    top: -50%;
}

.handle {
    & .syp {
        width: max-content;
    }
    &.open {
        background-color: #FFC734;
        & .logo {
            color: #42454A;
            fill: currentColor;
        }
    }
}
/*  Svg line animations */
.blog-arrow{
    &-left {
        #Line_2 {
            /* stroke-dashoffset: -15px; */
            stroke-dasharray: 15;
            transition: stroke-dashoffset 2s ease-out;
        }
        &:hover {
            #Line_2 {
                stroke-dashoffset: -120px;
                transition: stroke-dashoffset 2s ease-out;
            }
        }
    }   
    &-right {
        #Line_2 {
            /* stroke-dashoffset: -15px; */
            stroke-dasharray: 15;
            transition: stroke-dashoffset 2s ease-out;
        }
        &:hover {
            #Line_2 {
                stroke-dashoffset: -120px;
                transition: stroke-dashoffset 2s ease-out;
            }
        }
    }
}

.circle-animation {
    cursor: pointer;
    & path {
        &:first-child {
            stroke-dasharray: 162;
            transition: stroke-dashoffset .5s ease-out;
        }
    }
    
    
    &:hover {
        & path {
            &:first-child {
                stroke-dashoffset: 162;
                transition: stroke-dashoffset .7s ease-out;
            }
        }
    }
}




.handle {
    .buns {
        transition: all .8s;
        stroke-dashoffset: 42;
        stroke-dasharray: 71;
    }
    .patty {
        opacity: 1;
        transition: opacity .8s ease-out .5s;
    }
    &.open {
        .patty {
            opacity: 0;
            transition: opacity .3s ease-in;
        }
        .buns {
            transition: all 1.3s;
            stroke-dashoffset: -68;
        }
    }
}

#navigation-panel {
    &.open {
        transform: translate( calc( 100vw ) );
    }
    @screen md {
        &.open {
            transform: translate( calc( 100vw + 5rem ) );
        }
    }
    ul {
        &.main-nav {
            & li {
                & a {
                    /*  this is the dark */
                    -webkit-text-stroke-color: #42454A;
                    -webkit-text-stroke-width: 1px;
                    transition: color .5s, -webkit-text-stroke-color .5 ease-in-out .2;
                }
            }
            
            &:hover {
                /* & li:hover {
                    a{
                        transition: color .5s, -webkit-text-stroke-color .5 ease-in .2;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #FFC734;
                    }
                } */
                & li:not(:hover) {
                    & a {
                        /*  this is the yellow  */
                        -webkit-text-stroke-color: #FFC734;
                        color: transparent;
                        transition: color .5s, -webkit-text-stroke-color .5 ease-out .2;
                    }
                }
            }
            
        }
    }
}
.content-slider {
    &.active {
        @apply text-dark;
    }
}

.burger {
    max-width: 30px;
    min-width: 30px;
    &__bun {
        margin: 0 auto;
        width: 22px;
    }
    &__slice {
        height: 3px;
        width: 100%;
        margin-bottom: 6px;
        background: white;
        transition: width .2s ease-in-out;
        &:last-child {
            width: 14px;
        }
    }
    &:hover {
        cursor: pointer;
        & .burger {
            &__slice {
                transition: width .2s ease-in-out;
                &:last-child {
                    
                    width: 22px;
                }
            }
        }
    }
}

.quote {    
    font-size: 8rem;
    height: 136px;
    transform-orgin: top right;
    &-left,
    &-right {
        transform: rotate(200deg);
    }
    @screen md {
        font-size: 10rem;
    }
    @screen lg {
        font-size: 12rem;
    }
    @screen xl {
        font-size: 16rem;
    }
    
    
}
.fancy {
    transform: translateY(50px);
    opacity: 0;
}

/*  any time we use markup as content  */
.content {  
    h2 {
        @apply font-bold text-lg my-8
    }
    p {
        @apply mt-4
    }
}

.think-toast {
    color: #FFC734 !important;
}
.think-loser-toast {
    &.on {
        padding: 0;
        color: #FFC734;
        transform: translateY(-50%) !important;
        min-width: 50%;
        min-height: 50%;
        text-align: center;
        display: flex;
    }
    &:after {
        content: '';
        background-color: #42454A;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 5%;
        /* z-index: 1; */
        transform: rotate(5deg);
    }
    .wrapper {
        position: relative;
        background-color: white;
        z-index: 20;
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }
}

.footer {
    &__panel {
        @apply py-24 px-16
    }
}

/*  Some animation stuff  */

[data-scroll-call="fancy"] {
    transform: translateY(50px);
    opacity: 0;
}

[data-scroll-call="wipe"] {
    img {
        transform: translateX(-100%);
        width: 100%;
        opacity: 0;
    }
    .initial-wipe {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
    }
}