{{ partial:partials/hero classes="text-dark bg-light dark:bg-dark dark:text-light " display="{{title}}" show_playreel="0" }}

<div class="main__panel bg-light pt-0 -mt-64 relative z-10">
    <div class="container">
        <div class="flex flex-wrap -mx-4">
            {{ data }}
                <div class="w-full p-4 md:w-1/3 filter-item">
                    <a href="{{ url }}">
                        <img src="{{ !thumbnail ? hero_image : thumbnail }}" alt="" loading=lazy>
                        <h2 class="">{{ title }}</h2>
                        <p class="">{{ tagline }}</p>
                    </a>
                </div>
            {{ /data }}
        </div>
    </div>
</div>