<footer class="footer bg-transparent w-screen ml-0 md:w-handle-nm  md:ml-handle md:bg-gradient-yellow-to-dark">
    <div class="w-screen md:container">
        <div class="flex flex-col md:flex-row ">
            <!-- 7/12 -->
            {{ partial:partials/footer/left }} <!-- This is at the left Part of the site -->
            
            <!-- 5/12 -->
            {{ partial:partials/footer/right }} <!-- This is at the Right Part of the site -->
            
    
        </div>
    </div>
    
</footer>