<div class="w-screen md:w-1/3 bg-dark text-white footer__panel px-0 md:pl-16 md:pr-0 dark:bg-light-grey dark:text-dark">
    <div class="container h-full text-lg">
        <ul>
            {{ nav:main_navigation }}
            <li class="half-height-colour">
                <a class="underline-element yellow-underline" href="{{ url }}">{{ title }}</a>
            </li>
            {{ /nav:main_navigation}}
        </ul>

        <ul class="mt-6">
            {{ nav:extra_navigation }}
            <li class="half-height-colour">
                <a class="underline-element yellow-underline" href="{{ url }}">{{ title }}</a>
            </li>
            {{ /nav:extra_navigation}}
        </ul>

        {{ svg src="assets/svgs/logo" class="text-yellow fill-current mt-12 dark:text-dark" }}
    </div>
</div>