<div class="relative case-video-parent" data-state="paused">
    <div class="play-case-modal bg-gray-800 opacity-50 absolute w-full h-full top-0 left-0 flex justify-center items-center z-[9] pointer-cursor">
        <div class="play-button p-4 w-96 h-96 md:w-56 md:h-56 border-white md:border-black border-2 rounded-full text-2xl text-white md:text-black flex justify-center items-center cursor-events-none z-[10]" >
            <svg xmlns="http://www.w3.org/2000/svg" class="w-96 h-96 md:w-56 md:h-56 pointer-events-none" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
              </svg>
        </div>
    </div>
    <video class="object-cover w-full case-video" src="{{ video }}"></video>

</div>