{{ partial:partials/hero classes="text-dark bg-light dark:bg-dark dark:text-light" text_small="true" display="{{title}}" show_playreel="0" }}

{{ partial:partials/negative_image}}

<section class="main__panel bg-light dark:bg-dark">

    <div class="container flex">

        <div class="w-full hidden md:block md:w-2/12"></div>
        <div class="w-full md:w-1/2 ">
            <div class="text-lg">
                {{ introduction }}
            </div>
        </div>


    </div>

    {{ content }}

        {{ if type == 'slider' }} 
            {{ partial:partials/slider }} 
        {{ /if }}
    
        {{ if type == 'blog_content_group' }}
            <div class="blog__post">
                <div class="container flex mt-8">
                    <div class="w-full hidden md:block md:w-2/12"></div>
                    <div class="w-full md:w-1/2 ">
                        {{ if header }}
                            <h3 class="text-2xl font-bold">{{ header }}</h3>
                        {{ /if }}
                        {{ if blog_content }}
                            <p class="mt-4">{{ blog_content }}</p>
                        {{ /if }}
                    </div>

                </div>

                {{ if offset_image }}
                    <div class="container flex mt-12">
                        <div class="w-full hidden md:block md:w-2/12"></div>
                        <div class="w-full md:w-8/12 ">
                            <img src="{{ offset_image }}" alt="" loading=lazy>
                        </div>

                    </div>
                {{ /if }}
            </div>

            
        {{ /if }}

    {{ /content }}

</section>

{{ partial:partials/sharing_banner }}

{{ partial:partials/employees }}

{{ partial:partials/hulk }}

<section class="main__panel bg-light dark:bg-dark">
    <div class="container">
        <div class="">
            <h2 class="accent__dark">More from Think!</h2>
        </div>
        <div class="flex flex-wrap -mx-4 md:flex-nowrap">
            {{ collection:blog :until="date" limit="4" sort="date:desc" as="posts"}}
                {{ posts }}
                    {{ partial:partials.blog_listing width=" md:w-1/4 p-4" }}
                {{ /posts }}
            {{ /collection:blog }}
        </div>
    </div>
</section>