{{ partial:partials/hero classes="text-yellow bg-darker" display="{{hero_text}}" show_playreel="0" hero_intro="{hero_intro}" }}

<section class="main__panel bg-light">
    <div class="container flex">
        <h1 class="text-yellow font-black text-4xl">Your creative family</h1>
    </div>

    <div class="container mt-8 ">
        <div class="-mx-4 flex">
            {{ collection:employees }}
                <div class="w-1/2 md:w-1/4 items-center px-4">
                    {{ if employee_image }}
                        <div class="pb-full relative rounded-full overflow-hidden">
                            <img class="absolute h-full w-full object-cover" src="{{ employee_image }}" alt="" loading=lazy>
                        </div>
                    {{ /if }}
                    <div class="text-center">
                        <h3 class="mt-4 font-bold">{{ employee_name }}</h3>
                        <p>{{ employee_role }}</p>
                        <p class="text-grey">Expertise: {{ expertise | sentence_list }} </p>
                        
                    </div>
                </div>
            {{ /collection:employees }}
        </div>
    </div>
</section>

{{ partial:partials/quote bg="bg-yellow"}}

{{ partial:partials/content_list header="{{ layered_title }}" text="{{ layered_content }}" :data="steps" }}

{{ partial:partials/cta }}

{{ partial:partials/awards_list }}