<section class="bg-transparent not-affected-by-dark md:bg-gradient-yellow-to-dark md:h-screen" data-scroll-section>
    <div class="h-full w-screen md:container">
        <div class="h-full flex flex-col md:flex-row ">
    
            <div class="w-screen md:w-7/12 bg-yellow text-dark main__panel flex items-center land:h-screen h-vertical-handle-nm md:h-screen">
                <div class="container">
                    <div class="flex flex-col">
                        <div class="w-full text-7xl font-black fancy leading-none lg:text-14xl" data-scroll data-scroll-call="fancy">
                            {{ slogan }}
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="w-screen md:w-5/12 bg-dark text-white main__panel flex items-center land:h-screen h-vertical-handle-nm md:h-screen">
                <div class="container">
                    <p class="mt-6 land:mt-2 md:mt-6">{{ written_address }}</p>
                    <p class="mt-6 land:mt-2 md:mt-6">{{ contact_information:company_address_alt }}</p>
                    <div>
                        <a href="{{ maps_link }}" target="_blank" class="text-yellow inline-block">
                            <span class="half-height-colour">
                                <span class="underline-element yellow-underline">
                                    <span class="text-white">Get directions</span>
                                </span>
                                {{ svg src="assets/svgs/external-link" class="text-yellow inline ml-1 h-3 w-3" }}
                            </span>
                        </a>
                    </div>

                    <div class="mt-6 land:mt-2 md:mt-6"> 
                        <a href="tel:{{ contact_information:tel}}" class="text-white inline-block">
                            <span class="half-height-colour">
                                <span class="text-yellow">{{ telephone_number_intro }}</span>
                                <span class="underline-element yellow-underline">    
                                    <span>{{ contact_information:tel }}</span>
                                </span>
                            </span>
                        </a>
                    </div>

                    <div class="mt-6 land:mt-2 md:mt-6">
                        <div id="message">
                            <span class="half-height-colour">
                                <p class="text-yellow">{{ email_intro }}</p>
                                <span class="underline-element yellow-underline cursor-pointer">        
                                    {{ message_us }}          
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="mt-6 land:mt-2 md:mt-6">  
                        <div id="who">
                            <span class="half-height-colour">
                                <p class="text-yellow">{{ jobs_email_intro }}</p>
                                <span class="underline-element yellow-underline cursor-pointer">
                                    {{ job_us }}          
                                </span>
                            </span>
                            
                        </div>
                    </div>

                </div>
            </div>
    
        </div>
    </div>
</section>

<div id="messageBox" class="bg-white hidden md:h-1/2 relative  flex justify-center items-center">

    <div class="container bg-white  py-6 ">
        {{ partial:partials/contact/contact }}
    
    </div>
</div>
<div id="whoBox" class="bg-white hidden  relative flex justify-center items-center">

    <div class="container bg-white py-6 ">
        {{ partial:partials/contact/career }}
    
    </div>
</div>


<div class="flex flex-wrap">
    {{ images }}
        <div class="{{ if width == 'flex-50'}}w-1/2{{ else }}{{ if width == 'flex-33'}}w-1/3{{ else }}{{ if width == 'flex-66'}}w-2/3{{ else }}{{width}}{{ /if }}{{ /if }}{{ /if }}">
            <img src="{{ image }}" alt="" class="object-cover h-full w-full" loading=lazy>
        </div>
    {{ /images }}
</div>

<script>
const messageBtn = document.getElementById('message');
const whoBtn = document.getElementById('who');
const sectionBox = document.querySelector('section');
const secHeight = sectionBox.offsetHeight;

const messageBox = document.getElementById('messageBox');
const whoBox = document.getElementById('whoBox');

function toggleMessageBox()
{
    messageBox.classList.remove('hidden');
    whoBox.classList.add('hidden');
    console.log("m", messageBox.offsetTop);

    window.scrollTo(0,secHeight);
}

function toggleWhoBox()
{
    whoBox.classList.remove('hidden');
    messageBox.classList.add('hidden');

    window.scrollTo(0,secHeight);

}

messageBtn.addEventListener('click', ()=> {
    toggleMessageBox();
});

whoBtn.addEventListener('click', ()=> {
    toggleWhoBox();
    });
</script>