<section class="bg-transparent not-affected-by-dark md:bg-gradient-yellow-to-dark h-screen" data-scroll-section>
    <div class="h-full w-screen md:container">
        <div class="h-full flex flex-col md:flex-row ">
    
            <div class="w-screen md:w-7/12 bg-yellow text-dark main__panel flex items-center">
                <div class="container">
                    <div class="flex flex-col">
                        <div class="w-full text-7xl font-black fancy leading-none lg:text-14xl" data-scroll data-scroll-call="fancy">
                            {{ slogan }}
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="w-screen md:w-5/12 bg-dark text-white main__panel flex items-center">
                <div class="container">
                    <p class="mt-6">{{ written_address }}</p>
                    <p class="mt-6">{{ contact_information:company_address_alt }}</p>
                    <div>
                        <a href="{{ contact_information:maps_link }}" class="text-yellow inline-block">
                            <span class="half-height-colour">
                                <span class="underline-element yellow-underline">
                                    <span class="text-white">Get directions</span>
                                </span>
                                {{ svg src="assets/svgs/external-link" class="text-yellow inline ml-1 h-3 w-3" }}
                            </span>
                        </a>
                    </div>

                    <div class="mt-6"> 
                        <a href="tel:{{ contact_information:tel}}" class="text-white inline-block">
                            <span class="half-height-colour">
                                <span class="text-yellow">{{ telephone_number_intro }}</span>
                                <span class="underline-element yellow-underline">    
                                    <span>{{ contact_information:tel }}</span>
                                </span>
                            </span>
                        </a>
                    </div>

                    <div class="mt-6">
                        <a href="tel:{{ contact_information:email}}">
                            <span class="half-height-colour">
                                <p class="text-yellow">{{ email_intro }}</p>
                                <span class="underline-element yellow-underline">        
                                    {{ contact_information:email}}                  
                                </span>
                            </span>
                        </a>
                    </div>

                    <div class="mt-6">  
                        <a href="tel:{{ contact_information:jobs_email }}">
                            <span class="half-height-colour">
                                <p class="text-yellow">{{ jobs_email_intro }}</p>
                                <span class="underline-element yellow-underline">
                                    {{ contact_information:jobs_email }}
                                </span>
                            </span>
                            
                        </a>
                    </div>

                </div>
            </div>
    
        </div>
    </div>
</section>

<div class="flex flex-wrap">
    {{ images }}
        <div class="{{ if width == 'flex-50'}}w-1/2{{ else }}{{ if width == 'flex-33'}}w-1/3{{ else }}{{ if width == 'flex-66'}}w-2/3{{ else }}{{width}}{{ /if }}{{ /if }}{{ /if }}">
            <img src="{{ image }}" alt="" class="object-cover h-full w-full" loading=lazy>
        </div>
    {{ /images }}
</div>