<style>

    sjj {

        top: 0;
        width: 100%;

        position: relative;
        z-index: 1;
      }

    body.fixed-sjj sjj {
        position: fixed;
        left: 2.5rem;
      }

      @media only screen and (max-width: 767px) {
        body.fixed-sjj sjj {
            top:8rem;
            left:0;
          }
      }
</style>


{{ partial:partials/global/hero classes="text-yellow bg-header-dark" display="{{hero_text}}" show_playreel="0" }}


{{ taxonomy:core as="data" sort="where_do_i_go"}}
{{ partial:partials/nav/services_nav :data="data"}}

{{ /taxonomy:core }}

<!-- Uses the Core Taxonomy to display the different areas -->
{{ taxonomy:core as="data" sort="where_do_i_go" }}
    {{  partial:partials/work/v2_content_list :data="data" }}
{{ /taxonomy:core }}


{{# Not required, however left in just incase it is required in the future #}}
{{# Told by Steve 18/11/21 #}}
<!-- Uses the Core Taxonomy to display the different areas -->
{{# taxonomy:core as="data" }}
    {{  partial:partials/global/content_list header="{ layered_title }" text="{ layered_content }" :data="data" }}
{{ /taxonomy:core #}}

{{ partial:partials/global/cta }}

<!-- Uses the Services collection that is passed to the grid partial -->
{{# Not required, however left in just incase it is required in the future #}}
{{# Told by Steve 18/11/21 #}}
{{# partial:partials/grid title="Services" what="services" #}}

<script>

  const sjj = document.querySelector('#subsjj');
  const topOfsjj = sjj.offsetTop;
  console.log(topOfsjj)

  function fixsjj() {
    //console.log(topOfsjj, window.scrollY);
    if(window.scrollY >= topOfsjj) {
          let handle = document.getElementById('handle');
           let nav = document.getElementById('navigation-panel');
           nav.classList.remove('open');
           handle.classList.remove('open');
      document.body.style.paddingTop = sjj.offsetHeight + 'px';
      document.body.classList.add('fixed-sjj');
 
     } else {

      document.body.style.paddingTop = 0;
      document.body.classList.remove('fixed-sjj');

    }
  }


  window.addEventListener('scroll', fixsjj);

</script>