<style>

    nav {

        top: 0;
        width: 100%;

        position: relative;
        z-index: 1;
      }

    body.fixed-nav nav {
        position: fixed;
        left: 2.5rem;
      }

      @media only screen and (max-width: 767px) {
        body.fixed-nav nav {
            top:8rem;
            left:0;
          }
      }
</style>


{{ partial:partials/hero classes="text-yellow bg-header-dark" display="{{hero_text}}" show_playreel="0" }}


{{ taxonomy:core as="data"}}
{{ partial:partials/services_nav :data="data"}}

{{ /taxonomy:core }}

<!-- Uses the Core Taxonomy to display the different areas -->
{{ taxonomy:core as="data" }}
    {{  partial:partials/v2_content_list :data="data" }}
{{ /taxonomy:core }}


{{# Not required, however left in just incase it is required in the future #}}
{{# Told by Steve 18/11/21 #}}
<!-- Uses the Core Taxonomy to display the different areas -->
{{# taxonomy:core as="data" }}
    {{  partial:partials/content_list header="{ layered_title }" text="{ layered_content }" :data="data" }}
{{ /taxonomy:core #}}

{{ partial:partials/cta }}

<!-- Uses the Services collection that is passed to the grid partial -->
{{# Not required, however left in just incase it is required in the future #}}
{{# Told by Steve 18/11/21 #}}
{{# partial:partials/grid title="Services" what="services" #}}

<script>

    const nav = document.querySelector('#subnav');
    const topOfNav = nav.offsetTop;
  
  
    function fixNav() {
      //console.log(topOfNav, window.scrollY);
      if(window.scrollY >= topOfNav) {
        document.body.style.paddingTop = nav.offsetHeight + 'px';
        document.body.classList.add('fixed-nav');
      } else {
        document.body.style.paddingTop = 0;
        document.body.classList.remove('fixed-nav');
      }
    }
  
  
    window.addEventListener('scroll', fixNav);

</script>