{{ partial:partials/hero classes="text-yellow bg-darker" display="{{hero_text}}" show_playreel="0" hero_intro="{hero_intro}" }}

<section class="main__panel_x-small bg-light">
    <div class="container">
        <div class="flex font-medium">
            <strong class=" mr-3">Show Me:</strong>
            <span data-slide="hits" class="content-slider mr-3 text-gray-500 active cursor-pointer">The Hits</span>
            <span data-slide="services" class="content-slider mr-3 text-gray-500 cursor-pointer">Services</span>
        </div>
    </div>
</div>

<div class="filter-section flex relative overflow-hidden bg-light ">
        <section class="section section-hits transition w-full absolute flex-100 active ">
            <div class="pb-12 bg-light">
                <div class="container">
                    <div class="flex flex-wrap -mx-4">
                        {{ collection:case_studies limit="4" greatest_hits:is="true" }}
                            
                            {{ if no_results}}
                            {{ else }}
                                <a href="{{ url }}">
                                    <div class="w-full p-4 md:w-1/2 filter-item" 
                                        data-terms="{{ core-services }}{{ title | lower }}{{if !last }}|{{ /if }}{{ /core-services }}"
                                    >
                                        <img src="{{ hero_image }}" alt="">
                                        <h2 class="font-bold mt-4 text-2xl">{{ title }}</h2>
                                        <p class="">{{ tagline }}</p>
                                    </div>
                                </a>
                            {{ /if }}
                        
                        {{ /collection:case_studies }}
                    </div>
                </div>
            </div>

            {{ partial:partials/cta}}

            <div class="py-12 bg-light">
                <div class="container">
                    <div class="flex flex-wrap -mx-4">
                        {{ collection:case_studies limit="4" offset="4" greatest_hits:is="true" }}
                            
                            {{ if no_results}}
                            {{ else }}
                                <a href="{{ url }}">
                                    <div class="w-full p-4 md:w-1/2 filter-item" 
                                        data-terms="{{ core-services }}{{ title | lower }}{{if !last }}|{{ /if }}{{ /core-services }}"
                                    >
                                        <img src="{{ hero_image }}" alt="" loading=lazy>
                                        <h2 class="font-bold mt-4 text-2xl">{{ title }}</h2>
                                        <p class="">{{ tagline }}</p>
                                    </div>
                                </a>
                            {{ /if }}
                        
                        {{ /collection:case_studies }}
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-services transition w-full absolute flex-100">
            <div class="py-12 bg-light">
                <div class="container">
                    <div class="flex flex-wrap -mx-4">
                            <!-- greatest_hits:is="true" -->
                            <!-- limit="4" -->
                            <!-- query_scope="group_case_studies" -->
                        
                        {{ taxonomy:services_filter }}
                            {{ partial:partials/group_case_studies :header="title" :slug="slug" }}                
                        {{ /taxonomy:services_filter  }}


                            

                            
                                <!-- {{ partial:partials/group_case_studies header="Brand" :data="brand" }}

                                {{ partial:partials/group_case_studies header="Campaign" :data="campaign" }} -->

                            {{## partial:partials/group_case_studies header="Campaign" :data="campaign" ##}}
                            

                        

                        <!-- 
                            
                        {{ collection:case_studies  group_by="core-services"   }}
                            
                            <div class="w-full p-4 md:w-1/2 filter-item" 
                                data-terms="{{ core-services }}{{ title | lower }}{{if !last }}|{{ /if }}{{ /core-services }}"
                            >
                                <img src="{{ hero_image }}" alt="">
                                <h2 class="font-bold mt-4 text-2xl">{{ title }}</h2>
                                <p class="">{{ tagline }}</p>
                            </div>
                        
                        {{ /collection:case_studies }}
                        --> 
                    </div>
                </div>
            </div>
        </section>

</div>

