{{ partial:partials/hero classes="text-yellow bg-header-dark" display="{{hero_text}}" show_playreel="0" hero_intro="{hero_intro}" }}

<section class="main__panel_x-small bg-light dark:bg-dark">
    <div class="container">
        <div class="flex font-medium">
            <strong class=" mr-3">Show Me:</strong>
            <span data-slide="hits" class="half-height-colour font-light content-slider mr-3 text-gray-500 active cursor-pointer dark:text-light">
                <span class="underline-element yellow-underline pointer-events-none dark:light-underline">The Hits</span>
            </span>
            <span data-slide="services" class="half-height-colour font-light content-slider mr-3 text-gray-500 cursor-pointer dark:text-light">
                <span class="underline-element yellow-underline pointer-events-none dark:light-underline">Everything</span>
            </span>
        </div>
    </div>
</div>

<div class="filter-section flex relative overflow-hidden bg-light md:ml-handle md:w-handle-nm dark:bg-dark ">
    <section class="section section-hits transition w-full absolute flex-100 active ">
        <div class="pb-12 bg-light dark:bg-dark">
            <div class="container">
                <div class="grid grid-cols-1 grid-gap-4 -mx-4 md:grid-cols-2">
                    {{ collection:case_studies limit="4" greatest_hits:is="true" }}
                        
                        {{ if no_results}}
                        {{ else }}
                            <a href="{{ url }}">
                                <div class="w-full p-4 filter-item" 
                                    data-terms="{{ core-services }}{{ title | lower }}{{if !last }}|{{ /if }}{{ /core-services }}"
                                >   
                                    <div class="hover-button image">
                                        <span class="relative inline-block">
                                            <img src="{{ hero_image }}" alt="" >
                                        </span>
                                    </div>
                                    <h2 class="font-bold mt-4 text-2xl">{{ title }}</h2>
                                    <p class="">{{ tagline }}</p>
                                </div>
                            </a>
                        {{ /if }}
                    
                    {{ /collection:case_studies }}
                </div>
            </div>
        </div>

        {{ partial:partials/cta}}

        <div class="py-12 bg-light dark:bg-dark">
            <div class="container">
                <div class="grid grid-cols-1 grid-gap-4 -mx-4 md:grid-cols-2">
                    {{ collection:case_studies limit="4" offset="4" greatest_hits:is="true" }}
                        
                        {{ if no_results}}
                        {{ else }}
                            <a href="{{ url }}">
                                <div class="w-full p-4 md:w-1/2 filter-item" 
                                    data-terms="{{ core-services }}{{ title | lower }}{{if !last }}|{{ /if }}{{ /core-services }}"
                                >
                                    <div class="hover-button image">
                                        <span class="relative inline-block">
                                            <img src="{{ hero_image }}" alt="" >
                                        </span>
                                    </div>
                                    <h2 class="font-bold mt-4 text-2xl">{{ title }}</h2>
                                    <p class="">{{ tagline }}</p>
                                </div>
                            </a>
                        {{ /if }}
                    
                    {{ /collection:case_studies }}
                </div>
            </div>
        </div>
    </section>

    <section class="section section-services transition w-full absolute flex-100">
        <div class="py-12 bg-light dark:bg-dark">
            <div class="container">
                <div class="flex flex-wrap -mx-4">
                    
                    <!-- greatest_hits:is="true" -->
                    <!-- limit="4" -->
                    <!-- query_scope="group_case_studies" -->
                    
                    {{ taxonomy:services_filter }}
                        {{ partial:partials/group_case_studies :header="title" :slug="slug" }}                
                    {{ /taxonomy:services_filter  }}


                        

                </div>
            </div>
        </div>
    </section>
</div>

