<div onbeforeunload="return myFunction()"></div>

<script>
    // Scroll Window to the top on broswer.
    function myFunction() {
        window.scrollTop(0);
        window.onload = function() {document.body.scrollTop = document.documentElement.scrollTop = 0;};
    }


    window.addEventListener('load', () =>{

        window.scrollTop = 0;
        window.scrollTo(0,0);
        setTimeout(() => {
        window.scrollTop = 0;
        window.scrollTo(0,0);
        }, 50)
    })
    </script>

{{ partial:partials/global/hero classes="text-yellow bg-header-dark" display="{{hero_text}}" show_playreel="0" hero_intro="{hero_intro}" }}

<section class="main__panel_x-small bg-light dark:bg-dark">
    <div class="container">
        <div class="flex font-medium">
            <strong class="mr-3 ">Show Me:</strong>
            <span data-slide="hits" class="mr-3 font-light text-gray-500 cursor-pointer half-height-colour content-slider active dark:text-light">
                <span class="pointer-events-none underline-element yellow-underline dark:light-underline">The Hits</span>
            </span>
            <span data-slide="services" class="mr-3 font-light text-gray-500 cursor-pointer half-height-colour content-slider dark:text-light">
                <span class="pointer-events-none underline-element yellow-underline dark:light-underline">Everything</span>
            </span>
        </div>
    </div>
</div>

<div class="relative flex h-screen overflow-hidden filter-section bg-light md:ml-handle md:w-handle-nm dark:bg-dark ">
    <section class="absolute w-full transition section section-hits flex-100 active ">
        <div class="pb-12 bg-light dark:bg-dark">
            <div class="container">
                <div class="grid grid-cols-1 -mx-4 grid-gap-4 md:grid-cols-3">
                    {{ collection:case_studies limit="{ customising:greatest_hits_limit }" greatest_hits:is="true" }}
                        
                        {{ if no_results}}
                        {{ else }}
                            <a href="{{ url }}">
                                <div class="w-full p-4 filter-item" 
                                    data-terms="{{ core-services }}{{ title | lower }}{{if !last }}|{{ /if }}{{ /core-services }}"
                                >   
                                    <div class="hover-button image">
                                        <span class="relative inline-block">
                                            <img src="{{ !thumbnail ? hero_image : thumbnail }}" class="aspect-auto" alt="" >
                                        </span>
                                    </div>
                                    <h2 class="mt-4 text-2xl font-bold">{{ title }}</h2>
                                    <p class="">{{ tagline }}</p>
                                </div>
                            </a>
                        {{ /if }}
                    
                    {{ /collection:case_studies }}
                </div>
            </div>
        </div>

       




    </section>

    <section class="absolute w-full transition section section-services flex-100">
        <div class="py-12 bg-light dark:bg-dark">
            <div class="container">
                <div class="flex flex-col md:flex-wrap -mx-4 sm:mx-0">
                    
                    <!-- greatest_hits:is="true" -->
                    <!-- limit="4" -->
                    <!-- query_scope="group_case_studies" -->
                    
                    {{ taxonomy:services_filter }}
                        {{ partial:partials/work/group_case_studies :header="title" :slug="slug"}}                
                    {{ /taxonomy:services_filter  }}


                        

                </div>
            </div>
        </div>

        
    </section>
</div>
{{ partial:partials/global/cta}}
{{ partial:partials/footer/awards_list }}

<script src="/js/swiper.js" defer></script>


